*{
    box-sizing: border-box;
}
.Login-container{
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 11px -1px #000000; 
    box-shadow: 4px 4px 11px -1px #000000;
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 120px 30px 30px 30px;
   
    border-radius: 5px;
    
}

.Login-container img{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 200px;
}

.Login-details{
    display: flex;
    flex-direction: column;
}




.Login-details .input-box input{
    height: 45px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.Login-container form .Login-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details{
    display: block;
    text-align: left; 
    width: 100%;
   
    
}

.btn-login{
    background-color: rgb(192, 37, 140);
    width: 80%;
    padding: 15px;
    color:#ffffff;
    font-size:1rem;
    border-radius: 10px;
   outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.btn-signup{
    background-color: rgb(192, 37, 140);
    width: 80%;
    padding: 15px;
    color:#ffffff;
    font-size:1rem;
    border-radius: 10px;
   outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-out;
    margin-top: 20px;
}

.btn-login:hover{
background-color: #000;
}
.btn-signup:hover{
    background-color: #000;
}

.btn-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
